<h1>APP COMPONENT !!</h1>

<h3>Angular Router App</h3>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/demo1" routerLinkActive="active">Demo1 Component</a></li>
    <li><a routerLink="/demo2" routerLinkActive="active">Demo2 Component</a></li>
    <li><a routerLink="/basic" routerLinkActive="active">Basic Component</a></li>
    <li><a routerLink="/form" routerLinkActive="active">Form Component</a></li>
    <li><a routerLink="/reactive" routerLinkActive="active">Reactive Form</a></li>
    <li><a routerLink="/formvalidation" routerLinkActive="active">Reactive Form validation using Angular validators</a></li>

  </ul>
</nav>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>